# Keil MDK
*.uvguix.*
*.bak
*.lst
*.o
*.d
*.axf
*.hex
*.htm
*.map
*.dep
*.crf
*.lnp
*.sct
mdk/Listings/
mdk/Objects/
mdk/RTE/
mdk/DebugConfig/

# EIDE
mdk/.eide/
mdk/.cmsis/

# VS Code
.vscode/

# Keil Assistant log
mdk/.vscode/keil-assistant.log

# OS
Thumbs.db
.DS_Store
